/* ---- Fond général ---- */
.root {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #ffffff);
    -fx-font-family: "Arial";
}

/* ---- Carte blanche (formulaire) ---- */
.card {
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #088395;
    -fx-border-width: 2px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

/* ---- Champs de texte (TextField) ---- */
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #37B7C3;
    -fx-border-radius: 20px;
    -fx-padding: 12px;
    -fx-text-fill: #071952;
    -fx-font-size: 14px;
}

.text-field:focused {
    -fx-border-color: #088395;
    -fx-background-color: #FFFFFF;
}

/* ---- Champs de mot de passe (PasswordField) ---- */
.password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #37B7C3;
    -fx-border-radius: 20px;
    -fx-padding: 12px;
    -fx-text-fill: #071952;
    -fx-font-size: 14px;
}

.password-field:focused {
    -fx-border-color: #088395;
    -fx-background-color: #FFFFFF;
}

/* ---- Boutons ---- */
.button {
    -fx-background-color: #37B7C3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 50px;
    -fx-padding: 7px 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 3);
}

.button:hover {
    -fx-background-color: #37B7C3;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #056674;
}

/* ---- Labels supplémentaires ---- */
.label {
    -fx-text-fill: #071952;
    -fx-font-size: 14px;
}

.hyperlink {
    -fx-text-fill: #088395;
    -fx-font-size: 12px;
    -fx-underline: true;
}

.hyperlink:hover {
    -fx-text-fill: #37B7C3;
}

/* ---- Image de fond ---- */
.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}